/* Nav bar copied code from Online */

nav {
    margin: 27px auto 0;
  
    position: relative;
    width: 420px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 220px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 220px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 320px;
    background-color: #e67e22;
  }

  body {
    margin: 100px;
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }
  
  p {
      bottom: 20px;
      width: 100%;
      text-align: justify;
      color: #ecf0f1;
      font-family: 'Cherry Swash',cursive;
      font-size: 16px;
  }
  
  span {
      color: #2BD6B4;
  }

/* My CSS Starts from here */
#img-1 {
    margin-top: -120px;
    width: 450px;
    margin-left: 35%;
}

#link {
    color: aqua;
}

#img-2 {
    margin-left: 38%;
    border-radius: 20px;
    width: 300px;
}

.release {
    margin-top: 20%;
    margin-left: 25%;
    text-shadow: #2c3e50;
    size: 50px;
}

.social {
    width: 200px;
    margin-top: 30%;
    margin-left: 25%;
    text-shadow: #2c3e50;
    size: 50px;
}

.container-2 {
    display: flex;
    margin: 45px;
  }
  
.con-2 {
    background-color: #435e78;
    border-radius: 5px;
    outline: 2px;
    outline-color: rgba(0, 0, 0, 0.541);
    outline-style: solid;
    margin: 2%;
    padding: 4%;
    box-shadow: 7px 7px rgba(30, 32, 32, 0.76);
    text-align: justify;
}

footer {
    color: white;
    text-align: center;
    padding-top: 5%;
    font-size: 12px;
    text-shadow: 2px 3px 2px #000000d6;
}

.heading {
    font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}